{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    {% if user.is_authenticated %}

		<div class="new-post-main-div">
			<form action="{% url 'index' %}" method="post">
				<div class="post-area">

					<!-- <textarea name="comment" placeholder="What's on your mind??" class="post-textarea"></textarea> -->
					{% csrf_token %}
					{{ form }}

				</div>

				<input type="submit" name="Submit" value="Draft" class="draft-button">
				<input type="submit" name="Submit" value="Post" class="post-button">
			</form>
		</div>
s
		<hr class="post-box-endline">

    {% endif %}


	<div class="post-tab-heading">Recent Posts</div>

	<div class="normal-post-div">

		<div class="post-creator"> Creator on the left</div>
		<div class="post-time">Time of post on Right</div>

		<hr class="normal-post-div-divider-1">

		<div class="post-content">Post content
		hell fdsal
		jfsdl;a

		Whiteline is set to pre-line in this division.
		height is automatically adjusted.
		</div>

		<hr class="normal-post-div-divider-2">

		<div class="post-like-button">button</div>
		<div class="post-likes">121</div>

	</div>

{% endblock %}