{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    {% if user.is_authenticated %}

		<div class="new-post-main-div">
			<form action="{% url 'index' %}" method="post">
				<div class="post-area">

					<!-- <textarea name="comment" placeholder="What's on your mind??" class="post-textarea"></textarea> -->
					{% csrf_token %}
					{{ form }}

				</div>

				<input type="submit" name="Submit" value="Post" class="post-button">
			</form>
		</div>

		<hr class="post-box-endline">

    {% endif %}

    





	<div class="post-tab-heading">Recent Posts</div>

	{% for post in all_posts %}

		<div class="normal-post-div">

			<div class="post-creator"><a href="{% url 'profile' post.creator.pk %}">{{ post.creator.username }}</a></div>
			<div class="post-time">{{ post.post_timestamp }}</div>

			<hr class="normal-post-div-divider-1">

			<div class="post-content">{{ post.content }}</div>

			<hr class="normal-post-div-divider-2">

			<div class="post-like-button">button</div>
			<div class="post-likes">{{ post.post_likes }}</div>

		</div>

	{% empty %}

		<div>No Posts to show!! Why not create one!!</div>

	{% endfor %}

{% endblock %}