{% extends "network/layout.html" %}
{% load static %}

{% block body %}


	<div class="profile-page-div">
	    <div class="profile-info">
	    	<!-- Both values below will be rendered by javascript dynamically. -->
	        <div class="followed-by-number">Followers: <b><!-- Test Val --></b></div>
	        <div class="follows-number">Follows: <b><!-- Test Val --></b></div>

	        <!-- Only primary keys are shared instead of whole object. ex: profile_user_id-->
			{% if user.is_authenticated and request.user.pk != profile_user_id %}

				<div class="follow-button">

					<!-- Button code is handeled by javascript -->
					<!-- Test line. -->

			     </div>

			{% endif %}

	    </div>
	</div>


	<!-- Division to display username. Filled in by Javascript. -->
	<div class="post-tab-heading">Posts by <b><!-- Test Val --></b></div>

	<!-- Division to display posts by user. Filled in by Javascript. -->
	<div class="post-display-div"></div>


	<!-- Nav bar for rendering Pagination elements: Controlled by Javascript. -->
	<nav aria-label="Page navigation example"><ul class="pagination justify-content-center pagination-display-list"></ul></nav>

	<!-- <nav aria-label="Page navigation example">
		<ul class="pagination justify-content-center">

			{% if page_obj.has_previous %}
				<li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Prev</a></li>
			{% else %}
				<li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Prev</a></li>
			{% endif %}

			{% for number in page_obj.paginator.page_range %}
				<li class="page-item"><a class="page-link" href="?page={{ number }}">{{ number }}</a></li>
			{% endfor %}

			{% if page_obj.has_next %}
				<li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
			{% else %}
				<li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a></li>
			{% endif %}

		</ul>
	</nav> -->

	<!-- A workaround to get the id of the current user. This value is used in Javascript. -->
	<div style="display: none;" class="var_user_id">{% if user.is_authenticated %}{{ user.pk }}{% endif %}</div>

	<!-- A workaround to get the id of the profile user. This value is used in Javascript. -->
	<div style="display: none;" class="var_profile_user_id">{{ profile_user_id }}</div>

	

{% endblock %}



{% block script %}

	<script type="text/javascript" src="{% static 'network/profile.js' %}"></script>

{% endblock %}
