{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        
        <title>{% block title %}Auctions{% endblock %}</title>
        
        <!-- Bootstrap CDN -->

        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

        <!-- NotRequired: <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>   -->

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"></script>
        


        <!-- <link href="{% static 'auctions/css/my-style.css' %}" rel="stylesheet"> -->
        <link href="{% static 'auctions/css/main_layout.css' %}" rel="stylesheet">
        <link href="{% static 'auctions/css/body_index.css' %}" rel="stylesheet">
        <link href="{% static 'auctions/css/body_create_listing.css' %}" rel="stylesheet">
        <link href="{% static 'auctions/css/body_listing_details.css' %}" rel="stylesheet">

    </head>


    <body>

        <!-- Site control top nav bar - Header -->

        <section class="sign-in-bar">

            <h3 class="loggin-name">

                {% if user.is_authenticated %}
                    Hello, <strong>{{ user.username }}</strong> !
                    <!-- request.user.username, last_name, email,  -->
                {% else %}
                    Not Signed In !
                {% endif %}

            </h3>

        </section>


        <section class="navigation-bar">

            <!-- Division for top navigation bar -->
            <div class="top-nav-bar">

                <!-- Site Name -->
                <h2 class="nav-main-text">AUCTIONS</h2>


                <!-- Division for Menu Bar -->
                <div class="menu-bar">

                    <ul>

                        <li><a href="{% url 'index' %}"><i class="fa fa-newspaper-o"></i>Active Listings</a></li>
                        <li><a href="{% url 'categories' '#' %}"><i class="fa fa-hand-o-right"></i>Categories</a></li>

                        {% if user.is_authenticated %}
                            <li><a href="{% url 'watchlist' %}"><i class="fa fa-eye"></i>Watchlist</a></li>
                            <li><a href="{% url 'create_listing' %}"><i class="fa fa-pencil"></i>Create Listing</a></li>
                            <li><a href="{% url 'logout' %}"><i class="fa fa-hand-o-up"></i>Log Out</a></li>
                        {% else %}
                            <li><a href="{% url 'register' %}"><i class="fa fa-angellist"></i>Register</a></li>
                            <li><a href="{% url 'login' %}"><i class="fa fa-hand-o-up"></i>Log In</a></li>
                        {% endif %}
                    
                    </ul>
                    
                </div> <!-- Menu Bar -->


            </div> <!-- top-nav-bar -->

        </section>


        <!-- Start Body -->

        <div class="content">

        {% block body %}
        {% endblock %}

        </div>


        <!-- Footer Starts here -->
        <!-- For Sticky footer: https://css-tricks.com/couple-takes-sticky-footer/ -->
        <section class="footer">

            <div class="container text-center">

                <p class="copyright">Made with  <i class="fa fa-heart"></i>  by <b>Dinkar Jain</b></p>

            </div>
            
        </section>

    </body>

</html>
