{% extends "auctions/layout.html" %}

{% load static %}

{% block body %}

	<!-- Test listings -->

    <section class="test-listings">

        <div class="container">


            <div class="grey-box">

                <div class="title-box">
                    
                    <h2>Your Watchlist</h2> 

                </div> <!-- title-box -->

            </div> <!-- grey-box -->


            {% for item in watchlist %}

                <div class="card mb-3 shadow p-3 mb-5 bg-white rounded">

                    <div class="row">

                        <div class="col-md-2.5">
                            
                            <a href="{% url 'listing_page' item.id %}">
                                <img src="{{ item.listing_image }}" class="card-img shadow bg-white rounded" alt="..." style="width: 200px; margin-bottom: 3px; margin-left: 15px;">
                            </a>

                        </div>

                        <div class="col-md-9">

                            <div class="card-body">

                                <a href="{% url 'listing_page' item.id %}">
                                    <h5 class="card-title">{{ item.listing_title }}</h5>
                                </a>
                                
                                <p class="card-text">{{ item.listing_description }}</p>
                                <h6> Current Bid Price: $ {{ item.listing_start_bid }}</h6>
                                <p class="card-text" style="position: absolute; bottom: 0;"><small class="text-muted">Added on {{ item.creation_date }} | {{ item.creation_time }} | By: {{ item.creator.username }}</small></p>
                            
                            </div>
                       
                        </div>
                    
                    </div>
                
                </div>

            {% empty %}

                    <div style="text-align: center;"><h1>No Items to display.</h1></div>

            {% endfor %}



        </div> <!-- container -->

    </section> <!-- test-listings -->



{% endblock %}
