#emails-view {
	/*Characteristics*/
    /*none*/

    /*Positioning*/
    /*margin: 40px 60px;*/
    overflow: auto;

    /*Test*/
    /*background-color: green;*/

    /*margin: 20px 30px;*/
    /*position: fixed; */
    /*width: 100%; */
    /*max-width: 1140px; */
    /*min-width: 200px; */
    /*width: 96%; */
    /*display: block;*/
}

.mail-div {
    
    /*Characteristics*/
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    cursor: pointer;
    
    /*Positioning*/
    margin: 10px 10px;
    overflow: auto;  /*Very Important*/
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 10px;

    /*Test*/
    /*background-color: orange;*/
    
    /*margin-top: 5px; */
    /*position: relative;*/
    /*top:0;*/
    /*left:0;*/
    /*height:100%;*/
    /*display: block;*/
    /*width:100%; */
    /*clear: both; */
    /*position: fixed; */
}

.mail-div:hover {
    
    /*Characteristics*/
    box-shadow: inset 0 3px 3px rgba(0,0,0,0.3);
    border: 2px solid #f5c62c;    /*#4d90fe*/
}

.mail-id {
	
    /*Characteristics*/
    font-family: arial, sans-serif;
    font-weight: bold;
    color: #000000;

    /*Positioning*/
    float: left;
    min-width: 200px;
    width: 15%;
    overflow: auto;
    padding: 5px 5px;
    vertical-align: middle;

    /*Test*/
    /*background: red;*/

    /*width: 33%;
    /*height: 50%;*/
    /*top: 25%;*/
    /*left:5%;*/
    /*margin: 0 auto;*/
    /*position: relative;*/
    /*margin-left: 10px;*/
    /*display: table-cell; */
    /*height: 42px;*/
    /*min-width: 167px; */
    /*line-height: 16px; */
    /*vertical-align: middle; */
}

.mail-sub {

    /*Characteristics*/
    font-family: arial, sans-serif;
    color: #454545;
    font-weight: normal;

    /*Positioning*/
    float: left;
    vertical-align: middle;
    min-width: 400px;
    width: 33%;
    padding: 5px 5px;
    vertical-align: middle;

    /*Test*/
    /*background: yellow;*/

    /*width: 33%;*/
    /*height: 50%;*/
    /*top: 25%;*/
    /*left:5%;*/
    /*margin: 0 auto;*/
    /*position: relative;*/
    /*display: table-cell; */
    /*min-width: 167px; */
    /*min-height: 41px;*/
}

.date-time {

    /*Characteristics*/
    font-family: arial, sans-serif;
    color: #454545;
    font-weight: bold;

    /*Positioning*/
    float: right;
    min-width: 230px;
    width: 15%;
    padding: 5px 5px;
    vertical-align: middle;

    /*Test*/
    /*background: pink;*/

    /*min-width: 160px; */
    /*margin: 0 0 8px 1%;*/
    /*padding-left: 5px;*/
    /*vertical-align: middle; */
    /*position: relative; */
    /*display: table-cell; */
    /*width: 33%;*/
    /*height: 50%;*/
    /*top: 25%;*/
    /*right: 5%;*/
    /*margin: 0 auto;*/
    /*position: relative;*/
    /*text-align: right; */
    /*display: inline-block;*/
}



textarea {
    min-height: 400px;
}

.mail-main-view-div-style {

	padding: 20px;
	margin: 10px;
	margin-top: 10px;
	border-style: solid;
	border-radius: 10px;
	border-color: #0010ed;
	border-width: 4px;
	background-color: #d4f6ff;
}


.mail-main-view-div-style h5 {
	/* To render the new line (\n) */
	white-space: pre-line;
}
