
/*Start of CSS File*/


*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #f1f3f4;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

html, body
{
    height: 100%;
}

.content
{
    flex: 1 0 auto;
    margin-bottom: 20px;
}


/*---------------- Css for Sign in bar ---------------- */

.sign-in-bar
{
    margin-top: 0;
    margin-bottom: 0;
}

.loggin-name
{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 20px;

    font-size: 15px;
    text-align: right;
}

@media only screen and (max-width: 920px)
{
    .loggin-name
    {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0px;

        font-size: 15px;
        text-align: center;
    }
}



/*---------------- Css for elements on top navigation bar ---------------- */

.top-nav-bar
{
    height: 65px;
    /*position: sticky;*/

    background: #fff;

    margin-top: 0px;
    margin-bottom: 20px;

    border-top: 3px solid orange;
    border-bottom: 3px solid orange;
    /*z-index: 2;*/
}


.nav-main-text
{
    margin-top: 10px;
    margin-left: 10px;
    color: orange;
}


/*--------------------------------- END ----------------------------------- */




/*---------------------- Css for elements on Menu bar --------------------- */

.menu-bar
{
    margin: -51px 10px;
    /*margin-top: 10px;*/
    /*margin-right: 10px;*/
    /*width: 70%;*/
    /*height: 65px;*/
    /*float: right;*/
}

.menu-bar ul
{
    display: inline-flex;
    float: right;
}

.menu-bar ul li
{
    margin-left: 10px;
    list-style-type: none;
    padding: 10px 35px;
    text-align: center;
    background-color: orange;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
}

.menu-bar ul li a
{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.fa-newspaper-o
{
    margin-right: 10px;
}

.fa-angellist
{
    margin-right: 10px;
}

.fa-hand-o-up
{
    margin-right: 10px;
}

.fa-pencil
{
    margin-right: 10px;
}

.fa-eye
{
    margin-right: 10px;
}

.fa-hand-o-right
{
    margin-right: 10px;
}

/*--------------------------------- END -----------------------------------*/




/*-------------------- Media tag for responsive design ---------------------*/

@media only screen and (max-width: 920px)
{
    .top-nav-bar
    {
        height: 118px;
        border-bottom: 0;
    }

    .nav-main-text
    {
        text-align: center;
        margin-top: 10px;
        margin-left: 0px;
        margin-bottom: 45px;
        color: orange;
    }

    .menu-bar
    {
        width: 100%;
    }

    .menu-bar ul
    {
        margin: 10px;
        width: 100%;
    }

    .menu-bar ul li
    {
        height: 57px;
        width: 100%;
    }

    .fa-newspaper-o
    {
        display: none;
    }

    .fa-angellist
    {
        display: none;
    }

    .fa-hand-o-up
    {
        display: none;
    }

    .fa-pencil
    {
        display: none;
    }

    .fa-eye
    {
        display: none;
    }

    .fa-hand-o-right
    {
        display: none;
    }

}



/*--------------------------------- END ----------------------------------- */




/*-------------------- Footer --------------------*/

.footer
{
    /*margin-top: 15px;*/
    background: #f7c281;
    color: #000;
    padding-top: 10px;
    flex-shrink: 0;
    padding-bottom: 30px;
}

.copyright
{
    margin-bottom: -80px;
    text-align: center;
    font-size: 15px;
}

.fa-heart
{
    color: red;
    font-size: 15px;
}