
/*-----------------------------------------
Css for New post division in  index.html
--------------------------------------------*/

.new-post-main-div {
	border-style: solid;
/*   min-height: 170px; */
	margin: 40px;
  padding: 10px;
	box-shadow: 2px 4px rgba(0,0,0,0.3);
/*   width: 100%; */
/*   overflow: auto; */
  
  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 
/*   justify-content: center; */
/*   align-items: flex-start; */
/*   align-items: baseline; */
/*   align-content: space-between; */
  /*Test */
/*   background-color: green; */
}

.post-area { 
  margin: 10px;
  
/*   flex-grow: 1; */
/*   felx-shrink: ; */
/*   flex-basis: 98%; */
  flex: 1 1 100%;
/*   order: 1; */
/*   align-self: stretch; */

/*   background-color: green; */
}

.post-textarea {
  
/*   To remove the resize point from textarea */
  resize: none;
  
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: black;
  
  padding: 10px;
  min-height: 100px;
  
/*   Making text area occupy the division properly */
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  
/*   background-color: yellow; */
}

.post-textarea:focus {
  border-style: none;
  border-radius: 10px;
  box-shadow: 2px 4px rgba(0,0,0,0.3);
  
  /*   background-color: lightblue; */
}


.draft-button {

  margin: 10px;
  padding: 5px;
  width: 100px;
  color: #ffffff;
  
  box-shadow: 1px 2px rgb(0,0,0,0.3);
  background-color: #347deb;
  
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  border-radius: 10px;
  
/*   flex-grow: ; */
/*   felx-shrink: ; */
/*   flex-basis: 1 1 50%; */
/*   order: ; */
/*   align-self: ; */
  flex: none;
  float: left;
}

.draft-button:hover {
  box-shadow: inset 0 1px 2px #ffffff;
}


.post-button {
  margin: 10px;
  padding: 5px;
  width: 100px;
  color: #ffffff;
  
  box-shadow: 1px 2px rgb(0,0,0,0.3);
  background-color: #347deb;
  
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  border-radius: 10px;
  
/*   flex-grow: 1; */
/*   felx-shrink: ; */
/*   flex-basis: 1 1 50%; */
/*   order: 1; */
/*   align-self: flex-end; */
  
  flex: none;
  float: right;
}

.post-button:hover {
  box-shadow: inset 0 1px 2px #ffffff;
}



/*-----------------------------------------
Css for Recent post division in  index.html
--------------------------------------------*/

.post-tab-heading{
  text-align: center;
  font-size: 50px;
  
  margin: 40px 40px 40px 40px;
  padding: 10px;
  
/*   Test */
/*   background-color: yellow; */
/*   border-style: solid; */
 
}

.normal-post-div{
  
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-color: orange;
  
  margin: 10px 400px 0px 400px;
  padding: 20px;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
/*   background-color: pink; */
}

/* .normal-post-div:hover {
  box-shadow: 2px 4px #2c2c2c;
  color: white;
} */


.post-creator{
/*   flex: 1 1 30%; */
  padding-left: 10px;
  
/*   background-color: blue; */
}

.post-time{
  flex: 1 1 60%;
/*   text-align: left; */
/*   align-self: stretch; */
  padding-left: 10px;
  
/*   background-color: red; */
}

.post-content{
  flex: 1 1 100%;
  
  border-style: solid;
  border-width: 2px;
  border-color: lightblue;
  border-radius: 10px;
  
  padding: 10px;
  
  height: auto;
  
  /* To render the new line (\n) */
	white-space: pre-line;
  
  background-color: white;
}

.post-like-button{
/*   flex: 1 1 10%; */
  
/*   background-color: orange; */
}

.post-like-button:hover{
  color: magenta;
}

.post-likes{
  flex: 1 1 80%;
  padding-left: 10px;
  
/*   background-color: yellow; */
}

.normal-post-div-divider-1 {
  flex: 1 1 100%;
  margin: 5px;
}

.normal-post-div-divider-2 {
  flex: 1 1 100%;
  margin: 5px;
}

