
.single-product
{
	margin-top: 70px;
}


.active-product
{
	background: green;
	width: 50px;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	margin-top: 20px;
}

.sold-product
{
	background: red;
	width: 50px;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	margin-top: 20px;
}


.col-md-7 h2
{
	color: #555;
}


.col-md-7 .price
{
	color: orange;
	font-size: 26px;
	font-weight: bold;
	padding-top: 20px;
}

.col-md-7 input
{
	border: 2px solid #ccc;
	font-weight: bold;
	height: 33px;
	text-align: center;
	width: 100px;
}

.col-md-7 .btn-primary
{
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 5px;

	position: relative;

	background: orange !important;
	color: #fff;
	font-size: 15px;
	border: none;
	box-shadow: none !important;
}


/*---------------product-description-----------------*/


.product-description h6
{
	margin-top: 20px;
	color: orange;
	font-weight: bold;
}

.product-description p
{
	margin-top: 30px;
}

.product-description hr
{
	margin-bottom: 50px;
}


/*---------------Comments Section-----------------*/


/* Style the container with a rounded border, grey background and some padding and margin */
.comment-container {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
}

/* Clear floats after containers */
.comment-container::after {
  content: "";
  clear: both;
  display: table;
}

/* Float images inside the container to the left. Add a right margin, and style the image as a circle */
.comment-container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

/* Increase the font-size of a span element */
.comment-container span {
  font-size: 20px;
  margin-right: 15px;
}

/* Add media queries for responsiveness. This will center both the text and the image inside the container */
@media (max-width: 500px) {
  .comment-container {
    text-align: center;
  }

  .comment-container img {
    margin: auto;
    float: none;
    display: block;
  }
}

