/*----------------- Container Heading Text ------------------*/

.grey-box
{
    background-color: #e0dede;
    /*color: #fff;*/
    width: 100%;
    /*padding: 4px 10px;*/
    height: 40px;
    margin-bottom: 30px;
    display: flex;
}


.title-box
{
    background-color: orange;
    color: #fff;
    width: 260px;
    padding: 4px 10px;
    height: 40px;
    margin-bottom: 30px;
    display: flex;
}

.title-box h2
{
    font-size: 24px;
}

/* Adds a cut throught in title box */
.title-box::after
{
    content: '';
    border-top: 40px solid orange;
    border-right: 50px solid transparent;
    position: absolute;
    display: flex;
    margin-top: -4px;
    margin-left: 250px;
}

/*-------------------------- END ------------------------- */

